@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;






<section class="article-area">
    <div class="container">
        <div class="red-title">Article & News</div>
        <div class="browse-articles">
            <h2>Get Every Single Articles & News</h2>
            <a class="black-border-btn" href="#">Browse Article <i class="fa fa-arrow-circle-right"></i> </a>
        </div>

        <div class="articles">
            <a href="#" class="article">
                <div class="article-date">
                    <div class="day">25</div>
                    <div class="month">Mar</div>
                </div>
                <img src="static/Article & news.png" alt=" woman smiling for the camera" />
                <p class="day">Busniess</p>
                <h5>How To Use Digitalization In The Classroom</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </a>

            <a href="#" class="article">
                <div class="article-date">
                    <div class="day">17</div>
                    <div class="month">Mar</div>
                </div>
                <img src="static/Article & news 2.png" alt=" woman smiling for the camera" />
                <p class="day">Busniess</p>
                <h5>How To Implement Chat GPTIn Your Projects</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </a>

            <a href="#" class="article">
                <div class="article-date">
                    <div class="day">13</div>
                    <div class="month">Mar</div>
                </div>
                <img src="static/Article & news 3.png" alt=" woman smiling for the camera" />
                <p class="day">Busniess</p>
                <h5>The Guide To Support Modern CSS Design</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </a>
        </div>
    </div>
</section>
