@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

  <footer>
    <section class="footer-area">
        <div class="container">
            <div class="logo">
                <img src="~/static/Logo.png" alt="picture of logo" />
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas
                    voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.
                </p>
            </div>
            <div class="footer-columns">
                <h5>Company</h5>
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Features</a></li>
                    <li><a href="">Work</a></li>
                    <li><a href="">Career</a></li>
                </ul>
            </div>

            <div class="footer-columns">
                <h5>Help</h5>
                <ul>
                    <li><a href="">Customer Support</a></li>
                    <li><a href="">Devlivery Details</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="footer-columns">
                <h5>Resources</h5>
                <ul>
                    <li><a href="">Free eBooks</a></li>
                    <li><a href="">Development Tutorial</a></li>
                    <li><a href="">How to - Blog</a></li>
                    <li><a href="">Youtube Playlist</a></li>
                </ul>
            </div>

            <div class="footer-columns">
                <h5>Link</h5>
                <ul>
                    <li><a href="">Free eBooks</a></li>
                    <li><a href="">Development Tutorial</a></li>
                    <li><a href="">How to - Blog</a></li>
                    <li><a href="">Youtube Playlist</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="copyright-area">
        <div class="container">
            <div class="copyright-text">© 2023 Crito - Consulting Company Inc. All Rights Reserved</div>
            <div class="social-media">
                <a href="http://facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="http://linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>
</footer>