@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="project-area">
    <div class="container">
        <div class="red-title">Projects & Case Studies</div>
        <h2>Let's Looks Our Global Projects</h2>
        <div class="project-container">
            <a class="project-cards" href="a">
                <img src="\static\Project 1.png" alt=" Man reading a newspaper" />
                <h5>Grow your business</h5>
                <p>Read more <i class="fa fa-arrow-circle-right"></i></p>
            </a>
            <a class="project-cards" href="a">
                <img src="\static\Project 2.png" alt=" Man reading a newspaper" />
                <h5>Why your client needs a responsive website</h5>
                <p>Read more <i class="fa fa-arrow-circle-right"></i></p>
            </a>
            <a class="project-cards" href="a">
                <img src="\static\Project 3.png" alt=" Man reading a newspaper" />
                <h5>Educate your employees to get better results</h5>
                <p>Read more <i class="fa fa-arrow-circle-right"></i></p>
            </a>
            <a class="project-cards" href="a">
                <img src="\static\Project 4.png" alt=" Man reading a newspaper" />
                <h5>Business Insights is a important piece of your business</h5>
                <p>Read more <i class="fa fa-arrow-circle-right"></i></p>
            </a>
        </div>
        <a class="links black-btn" href="">All Recent Projects <i class="fa fa-arrow-circle-right"></i></a>
    </div>
</section>