@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="team-area">
    <div class="container">
        <div class="red-title">Meet our team</div>
        <div class="browse-team">
            <h2>Experience Team Members</h2>
            <a class="black-border-btn" href="team.html"
                >Browse Team <i class="fa fa-arrow-circle-right"></i
            ></a>
        </div>
        <div class="team-members">
            <div class="member">
                <img src="\static\Team 1.png" alt="foto of woman sitting in an office" />
                <h5>Kristin Palmer</h5>
                <p>Chef Operation Officer</p>
            </div>
            <div class="member">
                <img src="\static\Team 2.png" alt="foto of a man in a suit" />
                <h5>Mark Aubri</h5>
                <p>Senior Consultant</p>
            </div>
            <div class="member">
                <img src="\static\Team 3.png" alt="lady sitting in with book in lap" />
                <h5>Kimberly Hansen</h5>
                <p>Senior Consultant</p>
            </div>
            <div class="member">
                <img src="\static\Team 4.png" alt="photo of of a man centered on his face" />
                <h5>Justin Willoman</h5>
                <p>Senior Tech Consultant</p>
            </div>
        </div>
    </div>
</section>