@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="testimonial-area">
    <div class="container">
        <div class="area-border">
            <div class="red-title">Testimonal</div>
            <h2>What Our Client Say</h2>
            <div class="testimonial-card-container">
                <div class="testimonial-card">
                    <div class="stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut veritatis consequatur
                        assumenda molestiae dicta, qui at vel blanditiis repudiandae itaque.
                    </p>
                    <div class="worker">
                        <img src="\static\Image.png" alt="photo of a girl" />
                        <h5>Cassandra Warren</h5>
                        <p>Busniess Manager, Dorfus</p>
                    </div>
                </div>
                <div class="testimonial-card">
                    <div class="stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut veritatis consequatur
                        assumenda molestiae dicta, qui at vel blanditiis repudiandae itaque.
                    </p>
                    <div class="worker">
                        <img src="\static\Image-1.png" alt="photo of a girl" />
                        <h5>Amanda Tulling</h5>
                        <p>Senior Developer, Square</p>
                    </div>
                </div>
                <div class="testimonial-card">
                    <div class="stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut veritatis consequatur
                        assumenda molestiae dicta, qui at vel blanditiis repudiandae itaque.
                    </p>
                    <div class="worker">
                        <img src="static/Image-2.png" alt="" />
                        <h5>Jack McDogglas</h5>
                        <p>Key Account Manager, Gobona</p>
                    </div>
                </div>
            </div>
            <a class="black-btn" href=""> All Reviews <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</section>