@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="why-us-area">
    <div class="why-us-background-image"></div>
    <div class="container">
        <div class="content-column">
            <div class="red-title">Why Choose Us?</div>
            <h2>Why We Are The Best Business Consulting Agency</h2>
            <ul>
                <li>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <h4>Process Excellence</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur.</p>
                </li>
                <li>
                    <i class="fa fa-hourglass-start" aria-hidden="true"></i>
                    <h4>Strategic Planning</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur.</p>
                </li>
                <li>
                    <i class="fa fa-address-card-o" aria-hidden="true"></i>
                    <h4>Experience Design</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur.</p>
                </li>
                <li>
                    <i class="fa fa-braille" aria-hidden="true"></i>
                    <h4>Artificial Intelligence</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur.</p>
                </li>
            </ul>
        </div>
        <div class="image-left">
            <img
                src="pics/Why choose us.png"
                alt="Two ladys smiling at eachother whilst sitting infront of twp laptops"
            />
        </div>
    </div>
</section>