@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "LayoutWithBreadcrumb.cshtml";
}

 <section class="article-details-area">
    <div class="container">
        <div class="browse-articles">
            <h2>Our News and Articles</h2>
        </div>
        <div class="articles">
            <a href="#" class="article">
                <div class="article-date">
                    <div class="day">25</div>
                    <div class="month">Mar</div>
                </div>
                <img src="pics/Article & news 3.png" alt=" woman smiling for the camera" />
                <p class="day">Busniess</p>
                <h5>How To Use Digitalization In The Classroom</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </a>

            <a href="#" class="article">
                <div class="article-date">
                    <div class="day">17</div>
                    <div class="month">Mar</div>
                </div>
                <img src="pics/Article & news.png" alt=" woman smiling for the camera" />
                <p class="day">Busniess</p>
                <h5>How To Implement Chat GPTIn Your Projects</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </a>

            <a href="#" class="article">
                <div class="article-date">
                    <div class="day">13</div>
                    <div class="month">Mar</div>
                </div>
                <img src="pics/Article & news.png" alt=" woman smiling for the camera" />
                <p class="day">Busniess</p>
                <h5>The Guide To Support Modern CSS Design</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </a>
        </div>

        <div class="articles">
            <a href="#" class="article">
                <div class="article-date">
                    <div class="day">25</div>
                    <div class="month">Mar</div>
                </div>
                <img src="pics/Article & news 3.png" alt=" woman smiling for the camera" />
                <p class="day">Busniess</p>
                <h5>How To Use Digitalization In The Classroom</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </a>

            <a href="#" class="article">
                <div class="article-date">
                    <div class="day">17</div>
                    <div class="month">Mar</div>
                </div>
                <img src="pics/Article & news.png" alt=" woman smiling for the camera" />
                <p class="day">Busniess</p>
                <h5>How To Implement Chat GPTIn Your Projects</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </a>

            <a href="#" class="article">
                <div class="article-date">
                    <div class="day">13</div>
                    <div class="month">Mar</div>
                </div>
                <img src="pics/Article & news.png" alt=" woman smiling for the camera" />
                <p class="day">Busniess</p>
                <h5>The Guide To Support Modern CSS Design</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </a>
        </div>

        <div class="articles">
            <a href="#" class="article">
                <div class="article-date">
                    <div class="day">25</div>
                    <div class="month">Mar</div>
                </div>
                <img src="pics/Article & news 3.png" alt=" woman smiling for the camera" />
                <p class="day">Busniess</p>
                <h5>How To Use Digitalization In The Classroom</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </a>

            <a href="#" class="article">
                <div class="article-date">
                    <div class="day">17</div>
                    <div class="month">Mar</div>
                </div>
                <img src="pics/Article & news.png" alt=" woman smiling for the camera" />
                <p class="day">Busniess</p>
                <h5>How To Implement Chat GPTIn Your Projects</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </a>

            <a href="#" class="article">
                <div class="article-date">
                    <div class="day">13</div>
                    <div class="month">Mar</div>
                </div>
                <img src="pics/Article & news.png" alt=" woman smiling for the camera" />
                <p class="day">Busniess</p>
                <h5>The Guide To Support Modern CSS Design</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </a>
        </div>
           <div class="article-page-buttons" aria-label="Page Navigation">
            <a href="#" class="item-link">1</a>
            <a href="#" class="item-link">2</a>
            <a href="#" class="item-link link-next" aria-label="next">
                <span aria-hidden="true"></span>
            </a>
        </div>
    </div>
</section>