@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.FeaturesService)Model.Content;
}


 <div class="feature-card">
    <i class="@content.Value("featuresServiceIcon")"></i>
    <h2>@content.Value("featuresServiceTitle")</h2>
    <p>@content.Value("featuresServiceDescription")</p>
</div>